.widget-container {
  color: white;
  font-family: arial;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: url('https://source.unsplash.com/400x300?mountains,snow,high%20contrast');
}

.content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  font-size: 24px;
  border: 2px black solid;
}

.focus {
  width: 300px;
  font-size: 20px;
}
